/* Setting up */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Overpass', sans-serif; */
}

html, body {
    width: 100%;
    background-color: whitesmoke;
}

/* Phone first */
.first-div {
    padding: 50px 0 120px;
    background-image: url("bg-pattern-intro.svg");
    background-image: url("bg-pattern-intro.svg"), linear-gradient(hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    border-bottom-left-radius: 75px;
}
/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hamburger {
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    padding-right: 30px;
}
.hamburger:focus {
    outline: none;
}
.homelogo {
    height: 40px;
    padding-left: 30px;
}
.nav-ul {
    display: none;
}
.nav-ul.show{
    display: block;
}

/* First div */
.title, .description {
    text-align: center;
    color: white;
    padding: 10px 15px;
}
.title {
    font-family: 'Overpass', sans-serif;
    font-size: 38px;
    padding-top: 100px;
}
.description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding-bottom: 45px;
}

/* Button */
.buttons {
    text-align: center;
}
.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    color: white;
    border: 1.5px solid white;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.button:hover {
    color: hsl(353, 100%, 62%);
    background-color: white;
}

/* Second div */
.values {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
}

.tagline {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 15px 20px;
    color: hsl(208, 49%, 24%);
}
.above {
    padding-bottom: 40px;
}

.hero1 {
    display: flex;
    flex-direction: column;
}
.explanation {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(207, 13%, 34%);
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    line-height: 30px;
}
.bottom {
    padding-bottom: 100px;
}

.hero2 {
    display: flex;
    flex-direction: column;
    background-image: url("bg-pattern-circles.svg");
    background-image: url("bg-pattern-circles.svg"), linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    border-radius: 0 75px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.phonemocks {
    margin-top: -150px;
}
.taglinebig {
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    color: white;
}
.state {
    color: white;
    padding: 0 30px 100px;
}

/* Footer */
footer {
    background-color: hsl(240, 10%, 16%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-right-radius: 75px;
}

.footer {
    font-family: 'Ubuntu', sans-serif;
}

.footlogo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.firstdet, .seconddet, .thirddet {
    padding-bottom: 40px;
}

.smalldesc {
    color: white;
    padding-bottom: 30px;
}

.details {
    color: hsl(240, 2%, 79%);
}
.details li:hover {
    text-decoration: underline;
}
.over, .price, .market, .features, .integ, .about, .team, .blog, .career, .contact, .news, .linked {
    padding-bottom: 10px;
}

/* copyright & watermark */
.copyright, .watermark {
    color: hsl(240, 2%, 79%);
    font-size: 12px;
}
.watermark {
    padding: 20px 0;
}
.watermark a {
    color: hsl(240, 2%, 79%);
    text-decoration: none;
}

/* Desktop */
@media screen and (min-width: 1025px) {
    body {
        display: none;
    }
}